/* .container{
    display: flex;
    flex-direction: row;
    border: 2px solid red;
    height: 90vh;
}
.box{
    border: 2px solid green;
    height: 100px;
    width: 100px;
    margin: 50px;
}

@media screen and (max-width:600px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    body{
        background-color: black;
        color: white;
    }
    .box{
        height: 100px;
        width: 100px;
        background-color: greenyellow;
    }
}
@media screen and ((max-width:600px) or (min-width:400px)) {
    body{
        background-color: green;
        color: red;
    }
} */