*{
    margin: 0;
    padding: 0;
}


nav ul li{
    list-style: none;
    display:inline-block;
    text-align: center;
    margin: 10px;
    margin-left: 100px;
    padding: 10px;
    align-items: center;
    margin: 10px;
    font-weight: 10px;
    
    
}


#background-img{
    width: 100%;
    
}

button{
    font-size:15px;
    padding:10px;
    background-color:rgb(215, 215, 233);
    color:rgb(15, 8, 8);
    margin:20px;
}

button:hover{
    background-color:white;
    color:black;
}
.section1{
    text-align:center;
    margin-left:850px;
    width: 30%;
    height:60%;
    margin-top:-500px;
    padding:40px;
    position:relative;
    color: aliceblue;
}



h5{
    font-size:20px;
    margin:10px;
}


.section4{
    position:relative;
    margin-left:200px;
    margin-top:-500px;
    color: aliceblue;
}

.section3{
    width:1000px;
    height:500px;
    display:flex;
    margin-top:300px;
    margin-left:300px;
}

.section3 h6,h1{
    margin-bottom:20px;
    padding:20px;
    margin-top:-100px;
    margin-left:100px; 
}
.section3 .div1{
        height:200px;
        width:400px;
        margin-top:100px;
        justify-content:center;
        margin-left:-800px;
        margin-right:100px;

    }
    .section3 .div2{
        height:200px;
        width:400px;
        margin-top:100px;
        justify-content:center;
        margin-left:100px;
        margin-right:100px;

    }

.about{
    height:500px;
    display:flex;
    margin-top:400px;
}

.about div{
    height:200px;
    width:600px;
    margin:auto;
    justify-content:center;
    margin-left:100px;
}
.footer{
    background-color:rgb(6, 18, 6);
    margin-left:-400px;
    height:400px;
    width:1700px;
    margin-top:200px;
    text-align:center;
    color:white;
    padding:100px;
    align-content: center;
}
.logo{
    width: 200px;
    display: inline-block;
    margin-left: 100px ;
    margin-right: 300px;
}

.horizontal-list ul li{
    margin-top:10px;
    list-style: none;
    padding:20px;
    color:white;
    display:inline-block;
    text-align:center;
}
.footer div img{
    padding: 40px 20px;
    height:40px;
    width:40px;
}

.text{
    margin:auto;
}

.card-container{
    text-align:center;
    font-size:15px;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    margin-top:200px;
}

.card{
    width:500px;
    overflow:hidden;
    margin:20px;
}

.card img{
    width:100%;
    height:auto;
}
.h6{
    font-size: xx-large;
    font-weight: 100p;
    color: rgb(232, 154, 60);
}